  .PageWrapper {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    height: 100vh;
  }

  .HeaderBar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #252525;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .HeaderLogo {
    width: 35px;
    height: 35px;
    margin-left:10px;
  }
  .HeaderTitle {
    text-align: left;
    font-weight: 900;
    font-style: italic;
    padding-left: 10px;
    font-size: 30px;
  }
  .Message {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
    padding: 20px;
  }
  